{% extends 'base.html' %}

{% block content %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Miky's Photos</h1>
          <p class="lead text-muted">
            <a href="login" class="btn btn-primary">Log in Here</a>
          </p>
          <p class="lead text-muted">
            Don't have a log in? <a href="{% url 'signup' %}">Register here</a>. Once approved, you will receive access. It might take 24-48 hours
          </p>
        </div>
      </section>

      {% if user.is_authenticated %}
      <div class="container">
        <div class="row">
          <!-- Latest Calendar Day Section -->
          <div class="col-md-6">
            {% if latest_day_photo %}
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ latest_day_photo.image.url }}" alt="Latest Photo" style="height: 300px; width: 100%; object-fit: cover;">
                <div class="card-body">
                  <p class="card-text">Recent photos from: {{ latest_date|date:"F d, Y" }}<br>
                    {% if latest_day_photo.latitude and latest_day_photo.longitude %}
                      Location: Latitude {{ latest_day_photo.latitude }}, Longitude {{ latest_day_photo.longitude }}
                    {% else %}
                      Location: Unknown
                    {% endif %}
                  </p>
                  <p>Debug: Latest Day Photo URL: {{ latest_day_photo.image.url }}</p>
                </div>
              </div>
            {% else %}
              <p>No recent photos available.</p>
            {% endif %}
          </div>

          <!-- Random Album Section -->
          <div class="col-md-6">
            {% if random_album_photo %}
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ random_album_photo.image.url }}" alt="Random Album Photo" style="height: 300px; width: 100%; object-fit: cover;">
                <div class="card-body">
                  <p class="card-text">Random Album (Category) from: {{ random_album_photo.date_taken|date:"F d, Y" }}<br>
                    {% if random_album_photo.latitude and random_album_photo.longitude %}
                      Location: Latitude {{ random_album_photo.latitude }}, Longitude {{ random_album_photo.longitude }}
                    {% else %}
                      Location: Unknown
                    {% endif %}
                  </p>
                </div>
              </div>
            {% else %}
              <p>No photos in random album available.</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Welcome to miky.pics.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}