<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Photos for {{ date }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container py-5">
      <h1 class="text-center">Photos for {{ date|date:"F j, Y" }}</h1>
      <div class="row">
        {% if photos %}
          {% for photo in photos %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!-- Link to the full-size image -->
                <a href="{{ photo.image.url }}" target="_blank">
                  <img src="{{ photo.thumbnail_url }}" alt="{{ photo.image.name }}" class="card-img-top">
                </a>

                <div class="card-body">
                  <!-- Display Date Taken -->
                  <p class="card-text">Taken on: {{ photo.date_taken|date:"F j, Y, g:i a" }}</p>

                  <!-- Display Uploaded Date -->
                  <p class="card-text">Uploaded on: {{ photo.uploaded_at|date:"F j, Y, g:i a" }}</p>

                  <!-- Delete button -->
                  <form action="{% url 'delete_photo' photo.id %}" method="POST">
                  {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p class="text-center">No photos available for this date.</p>
          </div>
        {% endif %}
      </div>
      <div class="text-center">
        <a href="{% url 'calendar_view' %}" class="btn btn-secondary">Back to Calendar</a>
      </div>
    </div>
  </body>
</html>
